html {
  min-height: 100%;
}

body {
  min-height: 100%;
}

body.empty {
  background: white url('bg.png') no-repeat bottom center;
}

#main {
  width: 100%;
  max-width: 860px;
  margin: 0 auto;
}

header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

header h1 {
  font: bold 24px 'Ness';
  flex-grow: 1;
}

header label {
  display: flex;
  align-items: center;
}

header input {
  margin: 0 4px;
}

button {
  border: none;
  padding: 4px 10px;
}

ul {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  gap: 20px;
}

ul, ul li {
  padding: 0;
  list-style: none;
}

.searchResult {
  position: relative;
  margin: 0 auto;
}

.searchResult span {
  position: absolute;
  color: yellow;
  bottom: 10px;
  width: 100%;
  text-align: center;
  text-shadow: black 1px 1px;
  left: 0;
  white-space: pre-line;
}

img.thumbnail {
  width: 180px;
  height: 101px;
}

#selectedItem .back {
  margin-bottom: 8px;
}

#selectedItem button {
  display: block;
}

#selectedItem canvas {
  display: none;
}

#selectedItem #frameNavigation {
  display: flex;
}

#selectedItem #frameNavigation button:nth-child(2) {
  margin-left: auto;
}

#selectedItem img {
  display: block;
  width: 100%;
}

#selectedItem textarea {
  width: 100%;
}
